.DS_Store
.gitignore
.prettierrc.json
tsconfig.json
yarn.lock
yarn-error.log
*.log
*~
*.tsbuildinfo
/.git
/node_modules
/.vscode
/.github
/coverage
/playground
/spec
/docs
/src
readme.md
.all-contributorsrc
rollup.config.mjs
vitest.config.ts
